    body{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #5f5e59;
    background: url('../imagens/bg_body.jpg') left top repeat; 
}

/*CONFIGURAÇÃO DO TOPO - INÍCIO*/

header{
    margin-bottom: 20px;
    background: url('../imagens/bg_header.jpg');
}

#topo-twitter{
    width: 700px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 200px 0 0;
}

#topo-titulo{
    width: 100%;
    height: 50%;
    /* margin: 0 auto; */
    padding-top: 25px;
}

.tweet-texto{
    color: #fff; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 0 -1px 0 #000;
}

.tweet-data{
    color: #e3baca;
    font-size: 12px;
    padding-left: 6px;
}

header h1{
    width: 100%;
    height: 90px;
    text-indent: -9000px;
    margin: 0 auto;
    background: url('../imagens/img_ferris.jpg') center repeat;
  
}

/*CONFIGURAÇÃO DO TOPO - FIM*/


/*CONFIGURAÇÃO DO CONTEÚDO - INÍCIO*/

#conteudo{
    width: 900px;
    margin: 0 auto;
}

#conteudo-descricao{
    width: 400px;
    text-shadow: 0 1px 0 #fff;
    padding-bottom: 40px;
    display: inline-block;
    vertical-align: top;
}

.conteudo-duas-colunas{
    column-count: 2;
    column-gap: 30px;
    margin-top: 20px;
    text-align: justify;
}

.conteudo-duas-colunas p{
    line-height: 18px;
    font-size: 14px;
}

#conteudo-descricao h3{ 
    margin-bottom: 15px;
    color: #949691;
    font-size: 18px;
    font-weight: bold;

}

#icones-sociais{
    border-top: 2px dashed #aaa19f;
    width: 185px;
    height: 55px;
    padding-top: 20px;
    margin-top: 10px;
}


/* #icones-sociais li{
    display: inline-block;
}

#icones-sociais li a{
    width: 59px;
    height: 55px;
    display: block;
    float: left;
    text-indent: -9000px;

}


.bt_twitter{
    background: url('../imagens/icones-sociais.jpg') 2px top no-repeat;
    transition: all 0.3s ease-out;
}

.bt_twitter:hover{
    background: url('../imagens/icones-sociais.jpg') 2px -56px no-repeat;
}

.bt_facebook{
    background: url('../imagens/icones-sociais.jpg') -59px top no-repeat;
    transition: all 0.3s ease-out;
}

.bt_facebook{
    background: url('../imagens/icones-sociais.jpg') -59px -58px no-repeat;
}

.bt_linkedin{
    background: url('../imagens/icones-sociais.jpg') -121px top no-repeat;
    transition: all 0.3s ease-out;
}

.bt_linkedin{
    background: url('../imagens/icones-sociais.jpg') -121px -57px no-repeat;
} */

.campo, .mensagem{
    width: 96%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    color: #6c595f;
    box-shadow: inset 1px 1px 2px #999;
}

.mensagem{
    height: 100px;
}

.enviar{
    background: #6c595f;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    float: right;
}

#conteudo-portifolio{
    widows: 410px;
    display: inline-block;
    padding-bottom: 40px;
    margin-left: 40px;
}

#conteudo-portifolio figure{
    width: 440px;
}

.link-thumbs{
    width: 134px;
    height: 112px;
    border-radius: 8px;
    display: inline-block;
    margin: 0 20px 20px 0;
    text-decoration: none;
    box-shadow: 1px 1px 2px #999;
    opacity: 0.6;
}

.link-thumbs:hover{
    opacity: 1;
    transform: rotate(-15deg);
}

#meu-video{
    width: 380px;
    /* padding: 10px; */
    border-radius: 8px;
    background: #c9cec8;
    box-shadow: 1px 1px 2px #999;
}


/*CONFIGURAÇÃO DO CONTEÚDO - FIM*/



/*CONFIGURAÇÃO DO RODAPÉ - INÍCIO*/

footer p{
    font-size: 11px;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
    margin: 0 auto;
    width: 900px;
    background: url('../imagens/footer.jpg') right center no-repeat;
}

/*CONFIGURAÇÃO DO RODAPÉ - FIM*/